<!DOCTYPE html>
<html lang="en">

<head>
  <title>Electroservice - Ingresar electrodoméstico</title>
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="../styles/icon.png">
  <script src="./views/src/buscar_reparaciones.js"></script>
  <script src="./views/components/navbar.js"></script>
  <script src="./views/components/reparacionView.js"></script>
</head>

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interfaz de Búsqueda de Reparaciones</title>
</head>

<body data-bs-theme="dark">

  <div class="container">
    <!-- Título principal -->
    <h1 id="title" class="text-center my-4 text-danger">ELECTROSERVICE</h1>

    <!-- Barra de navegación -->
    <nav-bar></nav-bar>

     <!-- Contenedor principal -->
    <div class="maincontainer col-md-12 mx-auto">
      <h2 class="">Búsqueda de reparaciones</h2>
      <hr>
      <form id="search-form" action="/buscar" method="GET">
        <label for="search"><i class="fa fa-search" aria-hidden="true"></i></label>
        <input class="col-md-6 ms-2" type="text" name="search" id="search" autocomplete="on" placeholder="Buscar por cliente, marca, modelo o fallo...">
        <div  id="loading-spinner" style="display: none; height: 1.2rem; width: 1.2rem;" class="spinner-border text-light col-md-1 mx-1" role="status">
          <span class="visually-hidden">Loading...</span> <!-- Spinner de carga -->
        </div>
      </form>
        <br>
        <div id="results"></div>
    </div>
    <!-- Popup de error -->
    <div id="errorPopup"  class="alert alert-danger col-md-10 m-auto fade fixed-bottom" rote="alert">
      
    </div>
  </div>
</body>

</html>

</html>