<!DOCTYPE html>
<html lang="en">

<head>
  <title>Buscar reparaciones - Electroservice</title>
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="../styles/icon.png">
  <script type="module" src="./views/src/buscar_reparaciones.js"></script>
  <script src="./views/components/navbar.js"></script>
  <script type="module" src="./views/components/reparacionView.js"></script>
  <script src="./views/src/bootstrap.bundle.min.js"></script>
</head>

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interfaz de Búsqueda de Reparaciones</title>
</head>

<body data-bs-theme="dark">

  <div class="container">
    <!-- Título principal -->
    <h1 id="title" class="text-center my-4 text-danger">ELECTROSERVICE</h1>

    <!-- Barra de navegación -->
    <nav-bar></nav-bar>

    <!-- Contenedor principal -->
    <div class="maincontainer mx-auto">
      <!-- Popup de éxito -->
      <div id="successPopup" class="alert alert-success m-auto fade fixed-bottom" rote="alert">
        La operación ha sido procesada con éxito.
      </div>
      <h2 class="">Búsqueda de reparaciones</h2>
      <hr>
      <form id="search-form" action="/buscar" method="GET" class="d-flex align-items-center">
        <label for="search"><i class="fa fa-search fs-4" aria-hidden="true"></i></label>
        <input class="col-md-6 ms-2" type="text" name="search" id="search" autocomplete="on"
          placeholder="--[nro reparacion] o buscar por cliente, marca, modelo o fallo...">
        <div id="loading-spinner" style="height: 1.2rem; width: 1.2rem;" class="spinner-border text-light col-md-1 mx-1"
          role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="my-3 d-flex align-items-center col-md-7">
          <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group" id="filters">
            <input type="checkbox" class="btn-check" id="chk-pendientes" autocomplete="off" checked>
            <label class="btn btn-outline-secondary" for="chk-pendientes">Pendientes</label>

            <input type="checkbox" class="btn-check" id="chk-en-revision" autocomplete="off" checked>
            <label class="btn btn-outline-secondary" for="chk-en-revision">En revisión</label>

            <input type="checkbox" class="btn-check" id="chk-reparados" autocomplete="off">
            <label class="btn btn-outline-secondary" for="chk-reparados">Reparados</label>

            <input type="checkbox" class="btn-check" id="chk-sin-arreglo" autocomplete="off">
            <label class="btn btn-outline-secondary" for="chk-sin-arreglo">Sin arreglo</label>
            <button class="btn btn-outline-secondary" id="btn-refresh" title="Aplicar filtros">
              <i class="fa fa-refresh mx-1" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
      <h4>Resultados</h3>
        <hr>
        <div id="results"></div>
    </div>
    <!-- Popup de error -->
    <div id="errorPopup" class="alert alert-danger col-md-10 m-auto fade fixed-bottom" rote="alert">

    </div>
  </div>

</body>

</html>

</html>