<!DOCTYPE html>
<html lang="en">

<head>
  <title>Electroservice - Ingresar electrodoméstico</title>
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="../styles/icon.png">
  <script src="./views/src/consultas.js"></script>
</head>

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interfaz de Búsqueda de Reparaciones</title>
</head>

<body data-bs-theme="dark">

  <div class="container">
    <!-- Título principal -->
    <h1 id="title" class="text-center my-4 text-danger">ELECTROSERVICE</h1>

    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-4 rounded col-md-12 mx-auto">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item mx-2">
              <a class="nav-link" href="/nuevareparacion"><i class="fa fa-plus me-2" aria-hidden="true"></i>NUEVA REPARACION</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="/consulta"><i class="fa fa-search me-2" aria-hidden="true"></i>BUSCAR REPARACIONES</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

     <!-- Contenedor principal -->
    <div class="maincontainer col-md-12 mx-auto">
      <h2 class="">Búsqueda de reparaciones</h2>
      <hr>
      <form id="search-form" action="/buscar" method="GET">
        <label for="search"><i class="fa fa-search" aria-hidden="true"></i></label>
        <input class="col-md-6 ms-2" type="text" name="search" id="search" autocomplete="on" placeholder="Buscar por cliente, marca, modelo o fallo...">
        <div  id="loading-spinner" style="display: none; height: 1.2rem; width: 1.2rem;" class="spinner-border text-light col-md-1 mx-1" role="status">
          <span class="visually-hidden">Loading...</span> <!-- Spinner de carga -->
        </div>
      </form>
        <br>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="col-md-2">Cliente</th>
                    <th class="col-md-3">Producto</th>
                    <th class="col-md-5">Falla</th>
                    <th class="col-md-1">Ingreso</th>
                    <th class="col-md-1">Estado</th>
                </tr>
            </thead>
            <tbody id="tabla-resultados">
            </tbody>
        </table>
    </div>
    <!-- Popup de error -->
    <div id="errorPopup"  class="alert alert-danger col-md-10 m-auto fade fixed-bottom" rote="alert">
      
    </div>
  </div>
</body>

</html>

</html>