<!DOCTYPE html>
<html lang="en">

<head>
  <title>Electroservice - Ingresar electrodoméstico</title>
  <link rel="stylesheet" href="./styles/styles.css">
  <link rel="icon" type="image/x-icon" href="../styles/icon.png">
  <script src="./views/consultas.js"></script>
</head>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz de Búsqueda de Reparaciones</title>
</head>
<body>
  <h1>ELECTROSERVICE</h1>
    <div class="navbar">
      <a href="/nuevareparacion">Nueva Reparación</a>
      <a href="/consulta">Consultar Reparaciones</a>
    </div>
    <div class="maincontainer">
      <form id="search-form" action="/buscar" method="GET">
        <label for="search">Buscar Reparaciones:
          <input type="text" name="search" id="search" autocomplete="on" placeholder="Buscar por DNI, nombre, marca, modelo o fallo...">
        </label>
      </form>
        <br>
        <table>
            <thead>
                <tr>
                    <th>DNI</th>
                    <th>Nombre de Cliente</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Fecha ingreso</th>
                    <th>Falla</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody id="tabla-resultados">
            </tbody>
        </table>
    </div>
</body>
</html>


</html>