<!DOCTYPE html>
<html lang="en">

<head>
  <title>Electroservice - Ingresar electrodoméstico</title>
  <link rel="stylesheet" href="./styles/styles.css">
  <link rel="icon" type="image/x-icon" href="../styles/icon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="./views/ingreso_producto.js"></script>
</head>

<body>
  <h1 id="title">ELECTROSERVICE</h1>
  <div class="navbar">
    <a href="/nuevareparacion">Nueva Reparación</a>
    <a href="/consulta">Consultar Reparaciones</a>
  </div>
  <div class="maincontainer">
    <h2>Ingreso de nueva reparación</h2>
  <hr>
    <form id="cliente-form">
      <fieldset id="cliente-fieldset">
        <h3>Información del cliente</i></h3>
        <div class="input-container" id="nombre-form">
          <label id="dni-label" class="third">Número de DNI(*) <input id="dni-input" type="number" required max="99999999"></label>
          <input type="submit" style="display: none;"> <!--Permite usar Enter para submitear-->
      </fieldset>
    </form>
    <hr>
    <form id="producto-form">
      <fieldset id="producto-fieldset" disabled>
        <h3>Información de producto</h3>
        <div class="input-container">
          <label class="third">Tipo
            <select id="tipo-input" required>
              <option value="0">Sin especificar</option>
            </select>
          </label>
          <label class="third">Fabricante
            <select id="fabricante-input" required>
              <option value="0">Sin especificar</option>
            </select>
          </label>
          <label class="third">Modelo(*)
            <input class="texto-input" id="modelo-input" type="text" required maxlength="30">
          </label>
          <label>Fallo
            <textarea class="texto-input" id="falla-input" required maxlength="140"></textarea>
          </label>
          <input type="submit" id="main-submit" class="submit" value="Ingresar">
        </div>
      </fieldset>
    </form>
  </div>
  <div id="successPopup" class="popup">
    La operación ha sido procesada con éxito.
  </div>
</body>

</html>