<!DOCTYPE html>
<html lang="en">

<head>
  <title>Nueva reparacion - Electroservice</title>
  <link rel="icon" type="image/x-icon" href="../styles/icon.png">
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="./views/src/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
  <script src="./views/src/ingresar_reparacion.js"></script>
  <script src="./views/components/navbar.js"></script>
  <script src="./views/src/bootstrap.bundle.min.js"></script>
</head>

<body data-bs-theme="dark">
  <div class="container">
    <!-- Título principal -->
    <h1 id="title" class="text-center my-4 text-danger">ELECTROSERVICE</h1>

    <!-- Barra de navegación -->
    <nav-bar></nav-bar>

    <!-- Contenedor principal -->
    <div class="maincontainer mx-auto">
      <h2 class="">Ingreso de nueva reparación</h2>
      <hr>
      <form id="reparacion-form" class="mb-3 d-flex flex-row flex-wrap">
        <div class="col-md-6 pe-5">
          <div class="form-floating mb-2">
            <input required id="nombre-cliente" type="text" class="form-control " placeholder="Ingresa el nombre del cliente">
            <label for="nombre-cliente" class="form-label">Nombre del Cliente</label>
          </div>
          <div class="form-floating mb-2">
            <input required id="telefono-cliente" type="text" class="form-control" placeholder="persona@email.com">
            <label for="telefono-cliente" class="form-label">Telefono <i id="check-telefono" class="fa fa-check-circle hidden" hidden></i></label>
          </div>
        </div>
        
        <div class="col-md-6 d-flex flex-wrap align-items-stretch">
          <div class="form-floating mb-2 col-md-11">
            <select id="tipo-input" class="form-select" required>
              <option value="0">Sin especificar</option>
            </select>
            <label for="fabricante-input" class="form-label">Tipo de electrodoméstico</label>
          </div>
          <button type="button" class="btn btn-dark mx-auto mb-2 col-md-1" title="Agregar un tipo de electrodoméstico" data-bs-toggle="modal" data-bs-target="#agregar-tipo-modal"><i class="fa fa-plus" aria-hidden="true"></i></button>
          <div class="form-floating mb-2 col-md-11">
            <select id="fabricante-input" class="form-select" required>
              <option value="0">Sin especificar</option>
            </select>
            <label for="fabricante-input" class="form-label">Marca</label>
          </div>
          <button type="button" class="btn btn-dark mx-auto col-md-1 mb-2 " title="Agregar una nueva marca"  data-bs-toggle="modal" data-bs-target="#agregar-marca-modal"><i class="fa fa-plus" aria-hidden="true"></i></button>
          <div class="form-floating mb-2 col-md-12">
            <input required id="modelo-input" class="form-control" type="text" maxlength="30" placeholder="">
            <label for="modelo-input" class="">Modelo</label>
          </div>
        </div>
        
        <div class="form-floating my-2 me-5 col-md-12">
          <textarea required class="form-control " id="desc-fallo" style="height: 100px" maxlength="500"></textarea>
          <label for="desc-fallo" class="form-label" required>Descripción de falla</label>
        </div>
        <hr>
        <div class="col-md-12 d-flex justify-content-center position-relative mt-2">
          <button type="submit" id="submit" class="btn btn-primary col-md-12">Enviar</button>
          <div id="loading-spinner" style="display: none;" class="spinner-border text-primary position-absolute" role="status">
              <span class=""></span> <!-- Spinner de carga -->
          </div>
        </div>
      
      </form>
    </div>

    
    

    <!-- Popup de éxito -->
    <div id="successPopup"  class="alert alert-success m-auto fade" rote="alert">
      La operación ha sido procesada con éxito.
    </div>
  </div>

  <!-- Modal tipo electrodomestico-->
  <div class="modal fade" id="agregar-tipo-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar tipo de electrodoméstico</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Si no encuentra en la lista original el tipo de electrodoméstico deseado, ingréselo aquí y se guardará.</p>
          <form id="agregar-tipo-form">
            <div class="form-floating mb-2">
              <input required id="nuevo-tipo-input" type="text" class="form-control">
              <label for="nuevo-tipo-input" class="form-label">Tipo de electrodoméstico</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" id="btn-agregar-tipo" class="btn btn-primary" data-bs-dismiss="modal">Agregar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal marca-->
  <div class="modal fade" id="agregar-marca-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Agregar marca</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Si no encuentra en la lista original la marca deseada, ingrésela aquí y se guardará.</p>
          <form id="agregar-marca-form">
            <div class="form-floating mb-2">
              <input required id="nueva-marca-input" type="text" class="form-control ">
              <label for="nueva-marca" class="form-label">Marca</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" id="btn-agregar-marca" class="btn btn-primary" data-bs-dismiss="modal">Agregar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>