@font-face {
  font-family: 'digital';
  src: url('../fonts/DS-DIGIB.TTF') format('truetype');
}

#title {
  font-family: digital;
}

.hover-fila:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.11);
}


#estado::first-letter {
  text-transform: capitalize;
}

#btn-comentario:hover {
  background-color: rgb(65, 65, 65);
}