@font-face {
  font-family: 'digital';
  src: url('../fonts/DS-DIGIB.TTF') format('truetype');
}

body {
  text-align: center;
  background-color: beige;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 90%;
  min-width: 300px;
  max-width: 1200px;
  margin: 0 auto;
}


.maincontainer {
  background-color: white;
  padding: 25px;
  border: 1px solid gray;
}

fieldset {
  border: 0;
  padding: 0;
}


h1 {
  font-family: 'digital', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(212, 0, 0);
  font-size: 3em;
}

h2 {
  margin-bottom: 40px;
}

p {
  font-size: 30px
}

hr {
  border: 1px solid blrgb(189, 189, 189);
  width: 90%;
  margin: 30px auto;
}

label {
  display: block;
  width: 95%;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}

select {
  display: block;
  margin: 0;
  width: 100%;
  height: 32px;
}

.third {
  margin: 0 1%;
  width: 28%;
}

textarea {
  margin: auto;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

input {
  display: block;
  width: 95%;
  margin: 0;
  margin-bottom: 20px;
  padding: 2px 0;
  padding-inline-start: 8px;
  height: 24px;
  font-size: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inline {
  display: inline;
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

.texto-input {
  display: block;
  font-size: 1em;
}

#nombre-form {
  margin: auto;
  justify-content: start;
  width: 90%;
}

.submit {
  font-weight: 700;
  height: 50px;
  font-size: 20px;
  margin: 15px 0;
  padding: 10px;
}

#submit:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

/* Interfaz de busqueda */

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #f2f2f2;
}

/* Navegacion */

.navbar {
  overflow: hidden;

  background-color: #333;
  display: flex; 
  justify-content: center; 
}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.popup {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 20px;
  z-index: 9999;
}
.show {
  display: block;
}

.fail {
  background-color: #af4c4c;
}